/* Write your CSS here */

.main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2% auto;
}
.r {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inp {
  margin-bottom: 10px;
  height: 40px;
  width: 450px;
  outline: none;
  font-size: larger;
}
.inp1 {
  height: 200px;
}
.h {
  margin-left: 30px;
}
.born {
  background-color: #0284c7;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 5px;
}
.hr {
  width: 200%;
}
.dis {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 67%;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.comment {
  margin-right: 10px;
}
.pad {
  padding: 0px;
}
